html {
    background-color: white;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

div.footnotes {
    display: block;
    clear: both;
}

#footer {
    background-color: white;
    border-top: 1px solid #aaaaaa;
}


*.screen_only {
    display: none;
}

sup.footnote {
    display: inline;
}